
 <div class="row">
  <div class="container">

     <div class="logo">
     <img src="../../../assets/imagenes header/APLogo.png" alt="Logo Argentina Programana - no hay imagen disponible"  id="logarpr">
     </div>

     <div class="redes">

        <a href=""><img src="../../../assets/imagenes header/—Pngtree—white whatsapp icon png_3562063.png" alt="Whatsapp - no hay imagen disponible" class="w"></a>

     <a href=""><img src="../../../assets/imagenes header/facebook.png" alt="Facebook - no hay imagen disponible"></a>

    <a href=""><img src="../../../assets/imagenes header/instagram.png" alt="instagram - no hay imagen disponible"></a>

    <a href=""><img src="../../../assets/imagenes header/twitter.png" alt="Twitter - no hay imagen disponible"></a>

    <a href=""><img src="../../../assets/imagenes header/linkedin.png" alt="Linkedin - no hay imagen disponible"></a>

    <a href=""><img src="../../../assets/imagenes header/github.png" alt="GIThub - no hay imagen disponible"></a>
  </div>

     <button type="button" class="btn btn-outline-light">Ingresar</button>
     <button type="button" class="btn btn-outline-light">Salir</button>

</div>
</div>
