div{
  background:linear-gradient(to right ,rgb(0, 0, 10) ,rgb(32, 83, 158));
  margin-bottom: 5%;
  text-align: center;
  font-size:120%;
  color: white;
}
.container{
  margin-top: 10%;
  margin-bottom: 10%;
}
h1{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  }
  body{
   background-color:linear-gradient(to right ,rgb(0, 0, 10) ,rgb(32, 83, 158));
  }